<div class="bg-gray-100 py-20">
    <div class="container mx-auto text-center">
        <div class="mb-8">
            <p class="text-xl text-gray-600">ML-engineer</p>
            <h1 class="text-4xl font-bold text-blue-700">Hello,<br>I'm Ilya Konovalov</h1>
        </div>
        <div class="bg-white shadow-md rounded-lg p-8 max-w-lg mx-auto">
            <blockquote class="text-lg italic text-gray-800">
                «Тяжёлые времена рождают сильных людей, сильные люди создают лёгкие времена.<br>
                Лёгкие времена рождают слабых людей. Слабые люди создают тяжёлые времена»
            </blockquote>
        </div>
    </div>
</div>