<h1 class="text-3xl font-bold mb-6">My Projects</h1>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div class="bg-white shadow-md rounded-lg p-6">
        <h2 class="text-xl font-semibold mb-2">Project 1</h2>
        <p class="text-gray-700 mb-4">Predicting medical costs</p>
        <a class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="https://github.com/IlyaKonoval/Medical-Cost-Personal">More information</a>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6">
        <h2 class="text-xl font-semibold mb-2">Project 2</h2>
        <p class="text-gray-700 mb-4">Implementation of banking services</p>
        <a class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="https://github.com/IlyaKonoval/Bank_service">More information</a>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6">
        <h2 class="text-xl font-semibold mb-2">Project 3</h2>
        <p class="text-gray-700 mb-4">Description</p>
        <a class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="#">More information</a>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6">
        <h2 class="text-xl font-semibold mb-2">Project 4</h2>
        <p class="text-gray-700 mb-4">Description</p>
        <a class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="#">More information</a>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6">
        <h2 class="text-xl font-semibold mb-2">Project 5</h2>
        <p class="text-gray-700 mb-4">Description</p>
        <a class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="#">More information</a>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6">
        <h2 class="text-xl font-semibold mb-2">Project 6</h2>
        <p class="text-gray-700 mb-4">Description</p>
        <a class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="#">More information</a>
    </div>
</div>