<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS, Portfolio, ML">
    <title>Создание пользователя</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body class="bg-gray-100 font-sans">
<header class="bg-blue-500 text-white py-4">
    <nav class="container mx-auto">
        <ul class="flex space-x-4">
            <li><a href="/" class="hover:text-blue-200">Home</a></li>
            <li><a href="/portfolio" class="hover:text-blue-200">Portfolio</a></li>
            <li><a href="/promise" class="hover:text-blue-200">Promise</a></li>
        </ul>
    </nav>
</header>
<main class="container mx-auto py-8">
    <h1 class="text-2xl font-bold mb-4">Создать нового пользователя</h1>
    <form action="/user-views/create" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Имя пользователя</label>
            <input type="text" id="username" name="username" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <br>
        <div class="mb-4">
            <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Электронная почта</label>
            <input type="email" id="email" name="email" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <br>
        <div class="mb-6">
            <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Пароль</label>
            <input type="password" id="password" name="password" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="flex items-center justify-between">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Создать</button>
            <a href="/user-views" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">Назад</a>
        </div>
    </form>
    <a href="/user-views" class="text-blue-500 hover:text-blue-700">Назад</a>
</main>
<footer class="bg-gray-200 py-4 text-center text-gray-600">
    <div class="container mx-auto">
        <div class="mb-2">
            <a href="https://github.com/IlyaKonoval" class="hover:text-gray-800 mr-4">github</a>
            <a href="https://www.kaggle.com/konovalovml" class="hover:text-gray-800">kaggle</a>
        </div>
        <p class="text-sm">&copy; Ilya Konovalov, 2024</p>
        <p class="text-sm"><span id="loadTime"></span></p>
    </div>
</footer>
<script src="/js/time_loader.js"></script>
<script src="/js/page_active.js"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.js"></script>
</body>
</html>