<footer class="bg-gray-200 py-4 text-center text-gray-600">
    <div class="container mx-auto">
        <div class="mb-2">
            <a href="https://github.com/IlyaKonoval" class="hover:text-gray-800 mr-4">github</a>
            <a href="https://www.kaggle.com/konovalovml" class="hover:text-gray-800">kaggle</a>
        </div>
        <p class="text-sm">&copy; Ilya Konovalov, 2024</p>
        <p class="text-sm"><span id="loadTime"></span></p>
    </div>
</footer>