<header class="bg-blue-500 text-white py-4">
    <nav class="container mx-auto">
        <ul class="flex space-x-4">
            <li><a href="/" class="hover:text-blue-200">Home</a></li>
            <li><a href="/portfolio" class="hover:text-blue-200">Portfolio</a></li>
            <li><a href="/promise" class="hover:text-blue-200">Promise</a></li>
        </ul>
    </nav>
</header>